<div class="wrapper-md">
	<div class="row">
		<div class="col-md-5">
			<div class="row row-sm text-center">
				<!-- ADMIN AND SUPPLIER ITEM -->
				<div class="col-xs-6">
					<div class="panel padder-v item">
						<div class="h1 text-info font-thin h1">521</div>
						<span class="text-muted text-xs">商品總件數</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel padder-v bg-info item">
						<div class="h1 text-white font-thin h1">21</div>
						<span class="text-muted text-xs">本周新增商品件數</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel padder-v bg-primary item">
						<div class="h1 text-white font-thin h1">15,000</div>
						<span class="text-muted text-xs">已成交訂單總數</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel padder-v item">
						<div class="h1 text-primary font-thin h1">21</div>
						<span class="text-muted text-xs">尚未出貨訂單</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>